{%extends 'base.html'%}
{%block body%}

 <!-- Product section-->
 <section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6">
                {%if product.image%}
                     <img class="card-img-top mb-5 mb-md-0" src="{{product.image.url}}" alt="..." />
                {%else%}
                    <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />

                {%endif%}
            </div>
            <div class="col-md-6">
                <div class="small mb-1">{{product.category}}</div>
                <h1 class="display-5 fw-bolder">{{product.name}}</h1>
                <div class="fs-5 mb-5">
                    <span class="text-decoration-line-through">${{product.price}}</span>
                    <span>${{product.price}}</span>
                </div>
                <p class="lead">{{product.description}} lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium at dolorem quidem modi. Nam sequi consequatur obcaecati excepturi alias magni, accusamus eius blanditiis delectus ipsam minima ea iste laborum vero</p>
                <div class="d-flex">
                    <input class="form-control text-center me-3" id="inputQuantity" type="num" value="1" style="max-width: 3rem" />
                    <a class="btn btn-outline-dark flex-shrink-0" href="{%url 'addto-cart' product.id%}" > 
                        Add to cart
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

{%endblock%}