{%extends 'base.html'%}
{%block body%}
<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        {%for order in orders%}
        
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6">
                {%if order.product.image%}
                     <img class="card-img-top mb-5 mb-md-0" src="{{order.product.image.url}}" alt="..." height="200px" width="60px"/>
                {%else%}
                    <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." height="200px" width="60px"/>

                {%endif%}
            </div>
            <div class="col-md-6">
                <div class="small mb-1">{{order.product.category}}</div>
                <h1 class="display-5 fw-bolder">{{order.product.name}}</h1>
                <div class="fs-5 mb-5">
                    <span class="text-decoration-line-through">${{order.product.price}}</span>
                    <span>${{order.product.price}}</span>
                </div>
                <p class="lead">{{order.date}}</p>
                <div class="d-flex">
                    {%if order.status == "cancelled" %}
                        <span class="text-danger">Order Cancelled</span>
                    {%else%}
                    <a class="btn btn-outline-danger flex-shrink-0" href="{%url 'order-cancel' order.id%}" > 
                        Cancel Order
                    </a>
                    {%endif%}
                </div>
            </div>
          
        </div>
      

        <hr class="mt-2 mb-2">
        {%endfor%}
        
    </div>
    
</section>
    
{%endblock%}